/* styles.css */

.custom_gradient {
    background: linear-gradient(to right, #141E30, #243B55);
}

.text-white {
    color: #ffffff !important;
}

/* Adjust font size and padding for better visibility */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}
